<!DOCTYPE html>
<html lang="en" class="contact-page">
  <head>
    <meta charset="UTF-8">
    <title>My page title</title>
  </head>
  <body>


      <h1 class="title">La Page Bonheur Contact !</h1>
      <h2 class="awesome">Comment se crée le contact</h2>



<br>
      <div class="content-contact" style="float:left">
        <div class="parrot"></div>
        <div class="legend">
          <div class="button"><a href="#">Présentation du perroquet</a></div>
        </div>
      </div>

      <div class="content-contact" style="float:right">
        <div class="parrot"></div>
        <div class="legend">
          <div class="button"><a href="#">Présentation du perroquet</a></div>
        </div>
      </div>

  </body>
</html>
