<!DOCTYPE html>
<html lang="en" class="home-page">

  <head>
    <meta charset="UTF-8">
    <title>My page title</title>
  </head>
  <body>

      <h1 class="title">La page du bonheur !</h1>
      <h2 class="awesome">Comment se crée le bonheur</h2>
      <div class="content">
        <div class="chat">
          <%= link_to image_tag("cat.jpg", alt: "grey cat"),'www.cat.com' %>
        </div>

        <div class="txtdroit">
          <p>We're not looking at a novel by Stephanie Meyer, this is a motherfuckingwebsite so include some pictures to give a context. The website shouldn't be overfilled with pictures, but it should make the user happy while reading your nonsense words. You see that fancy cat? He's happy, you should be too.</p>
          <p>We're not looking at a novel by Stephanie Meyer, this is a motherfuckingwebsite so include some pictures to give a context. The website shouldn't be overfilled with pictures, but it should make the user happy while reading your nonsense words. You see that fancy cat? He's happy, you should be too.</p>
          <p>We're not looking at a novel by Stephanie Meyer, this is a motherfuckingwebsite so include some pictures to give a context. The website shouldn't be overfilled with pictures, but it should make the user happy while reading your nonsense words. You see that fancy cat? He's happy, you should be too.</p>
        </div>
      </div>



      <div class="tabs">
        <input id="tab1" type="radio" name="tabs">
        <label for="tab1">Photos</label>
        <input id="tab2" type="radio" name="tabs" checked>
        <label for="tab2">Profile</label>
        <input id="tab3" type="radio" name="tabs">
        <label for="tab3">Info</label>
        <input id="tab4" type="radio" name="tabs">
        <label for="tab4">About</label>
        <div class="content">
           <div id="content1">
        content1
           </div>

           <div id="content2">
        content2
           </div>

           <div id="content3">
        content3
           </div>
           <div id="content4">
        content4
           </div>
        </div>
      </div>


  </body>

</html>
