<footer>
    <ul>
      <li><%= link_to image_tag("facebook.png", alt: "facebook logo"),'http://facebook.com/' %></li>
      <li><%= link_to image_tag("instagram.png", alt: "instagram logo"),'http://instagram.com/' %></li>
      <li><%= link_to image_tag("twitter.png", alt: "twitter logo"),'http://twitter.com/' %></li>
      <li><%= link_to image_tag("linkedin.png", alt: "linkedin logo"),'http://linkedin.com/' %></li>
    </ul>
</footer>
