<header>
  <!-- Fixed navbar -->
  <nav>
      <div class="head">
        <a href="/">LANDING</a>
      </div>
      <div class="head">
        <a href="/">Accueil</a>
      </div>
      <div class="head">
        <a href="/contact">Contact</a>
      </div>
      <div class="head">
        <a href="/team">Team</a>
      </div>

        <div class=".nav-right" style="float:right">
          <a href="#">Nom </a>

          <div class="dropdown">
             <button class="dropbtn"><%= image_tag('brain.png', :class => "avatar_img") %></button>
             <div class="dropdown-content">
               <a href="#">HTML Code</a>
               <a href="#">CSS Code</a>
               <a href="#">Images</a>
             </div>
        </div>


  </nav>
</header>
