<header>
  <!-- Fixed navbar -->
  <nav>
      <div class="head">
        <a href="/">LANDING</a>
      </div>
      <div class="head">
        <a href="/">Accueil</a>
      </div>
      <div class="head">
        <a href="/contact">Contact</a>
      </div>
      <div class="head">
        <a href="/team">Team</a>
      </div>

        <div class=".nav-right">
          <a href="#">Nom <%= link_to image_tag("brain.png", alt: "brain logo"),'http://flaticon.com/' %></a>
        </div>

    
  </nav>
</header>
